.a-loadingContainer {
  min-height: calc(100vh - 140px);
  position: relative;
  @include break-max(891px) {
    min-height: calc(100vh - 72px);
  }
}

.a-loading {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: rem(10);
  margin-top: rem(10);

  .a-icon {
    height: rem(30);
    width: rem(30);
  }

  &-fullScreen,
  &-fullScreenAbsolute {
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    margin: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;

    .a-icon {
      height: rem(50);
      width: rem(50);
    }
  }

  // &-fullScreenAbsolute {
  //   position: absolute;
  // }
  
  &_wrapper {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: center;

    .a-text {
      margin-left: rem(8);
    }
  }

  &_tail {
    animation: tail 1s infinite linear;
    background-clip: content-box, border-box;
    background-image: linear-gradient($white, $white), conic-gradient($white, $black);
    background-origin: border-box;
    border: double 0.25em transparent;
    border-radius: 100%;
    height: rem(32);
    overflow: hidden;
    position: relative;
    width: rem(32);
  }
}

.loader {
  width: 4px;
  color: $red_0;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 5px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px;
  transform: translateX(-38px);
  animation: l26 2s infinite linear;
}
@keyframes l26 {
  12.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px}
  25%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 0px}
  50%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  62.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 5px}
  75%   {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  87.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 5px, 57px 0     0 0px,
    19px 19px  0 5px, 38px 19px  0 0px, 57px 19px  0 0px}
}