.o-header {
  $root: &;
  background-color: $white;
  // left: 0;
  position: static;
  // top: 0;
  // transition: $transition;
  // width: 100%;
  // z-index: $z-header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $black_0;
  &_wrapperMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__contentRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

