/* stylelint-disable max-nesting-depth */
@mixin style-hamburger() {
  background: $sapphire;
  border-radius: rem(12);
  cursor: pointer;
  padding: rem(8);
  transition: opacity $transition linear;
}

@mixin underline-link() {
  bottom: rem(-12);
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
  @include transition(all $transition-long);
}

.o-header {
  $root: &;
  background-color: $white;
  // left: 0;
  position: static;
  // top: 0;
  // transition: $transition;
  // width: 100%;
  // z-index: $z-header;

  &-scrolled {
    box-shadow: 0 rem(3) rem(6) rem(-4) $black-12, 0 rem(6) rem(16) $black-08, 0 rem(9) rem(28) rem(8) $black-05;
  }

  &_wrapperMain {
    height: rem($height-header-desktop);

    @include desktop-down {
      height: rem($height-header-mobile);
    }
  }

  &_main {
    @include desktop-down {
      background-color: $white;
      bottom: 0;
      height: 100vh;
      overflow: auto;
      padding: rem(15) rem(20);
      position: fixed;
      right: -100%;
      top: 0;
      transition: $transition-long all linear;
      width: 100%;
      z-index: 1;

      &-active {
        right: 0;
      }
    }
  }

  &_mobileBar {
    @include adjust-flex(space-between, center);
    padding: rem(14) 0;

    @include desktop-up {
      display: none;
    }

    &_logo {
      width: rem(180);

      @include mobile-down {
        width: rem(150);
      }
    }

    &_language {
      #{$root}_language {
        margin-right: 0;
      }
    }

    &_hamburger {
      @include style-hamburger();
      margin-right: rem(12);
      
      &:hover {
        opacity: 0.7;
      }
    }

    &_hamburgerClose {
      @include style-hamburger();

      @include desktop-up {
        display: none;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &_language {
    position: relative;

    &_languageSelected {
      cursor: pointer;
      padding: 0 rem(8);
      @include adjust-flex();
  
      &_content {
        margin-right: rem(5);
      }
  
      &_icon {
        transition: all $transition-long linear;
  
        &-active {
          transform: rotate(180deg);
        }
      }
    }

    
    &_languageList {
      background-color: $white;
      border: rem(1) solid $davys-grey;
      border-radius: rem(5);
      margin-top: rem(5);
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 30%;
      transition: all 0.3s linear;
      visibility: hidden;
      width: rem(50);
      z-index: $z-language;

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        cursor: pointer;

        &:hover p {
          color: $british-racing-green;
        }
      }

      &-open {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }

      &_item-active p {
        color: $british-racing-green;
        font-weight: 600;
      }
    }
  }

  &_upperMenu {
    flex-wrap: wrap;
    height: rem(80);
    position: relative;
    @include adjust-flex(flex-end, center);

    @include desktop-down {
      display: block;
    }

    &_logo {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem(206);

      @include desktop-down {
        display: none;
      }
    }

    &_general {
      align-items: center;
      display: flex;

      @include desktop-down {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &_generalWrapper {
      align-items: center;
      display: flex;

      @include desktop-down {
        display: none;
      }
    }

    &_divider {
      background-color: $anti-flash-white;
      height: rem(20);
      margin-left: rem(24);
      margin-right: rem(24);
      width: rem(1);
    }

    &_wrapperSearch {
      position: relative;

      @include desktop-down {
        flex: 0 0 100%;
      }
    }

    &_search {
      cursor: pointer;
      display: flex;

      @include desktop-down {
        display: none;
      }
    }

    &_searchModal {
      background-color: $white;
      border-radius: rem(10);
      box-shadow: 0 rem(4) rem(10) $taupe-gray;
      display: none;
      min-width: rem(350);
      position: absolute;
      right: 0;
      top: calc(100% + 18px);
      width: 100%;
      z-index: 2;

      @include desktop-down {
        box-shadow: none;
        display: block;
        flex: 0 0 100%;
        margin-top: rem(20);
        position: relative;
      }

      @include mobile-down {
        min-width: fit-content;
      }

      &-show {
        display: block;
        padding: rem(16);
        width: 100%;
      }

      &_wrapper {
        position: relative;

        .a-input_input {
          padding-right: rem(40);
        }

        &_icon {
          cursor: pointer;
          position: absolute;
          right: rem(10);
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &_language {
      margin-left: rem(24);

      @include desktop-down {
        display: none;
      }
    }
  }

  &_divider {
    background-color: $anti-flash-white;
    height: rem(1);
    width: 100%;
  }

  &_mainMenu {

    @include desktop-down {
      margin-top: rem(24);
    }

    &_nav {
      @include adjust-flex(center, center);
      list-style: none;
      margin: 0;
      padding: rem(16) rem(16) 0;

      @include desktop-down {
        display: block;
        padding: 0;
      }
    }

    &_navItem {
      margin-bottom: 0;
      position: relative;
    }

    &_wrapLink {
      font-weight: 400;
      padding-bottom: rem(7);
      position: relative;
      @include font-base(16, 24);

      @include desktop-down {
        margin-top: rem(15);
        padding-bottom: 0;

        &::before {
          height: 0;
        }
      }

      @include mobile-down {
        @include font-base(14, 22);
      }
    }

    &_navLink {
      &::before {
        background-color: $sapphire;
        bottom: 0;
        content: '';
        height: rem(2);
        left: 0;
        position: absolute;
        transition: all 0.4s linear;
        width: 0%;

        @include desktop-down {
          content: none;
        }
      }

      &.active,
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &_mobileSocial {
    display: none;

    @include desktop-down {
      display: flex;
      margin: rem(15) rem(-12) 0;

      &_item {
        padding: 0 rem(12);
      }
    }
  }

  &_hasChild {
    @include desktop-up {
      &:hover {
        #{$root}_dropdown {
          max-height: rem(320);
          opacity: 1;
          visibility: visible;

          @include desktop-down {
            max-height: rem(240);
          }
        }

        #{$root}-hide & {
          #{$root}_dropdown {
            max-height: 0;
          }
        }
      }
    }

    @include desktop-down {
      #{$root}_mainMenu_wrapLink {
        &::after {
          border-bottom: 2px solid $sapphire;
          border-left: 2px solid $sapphire;
          content: '';
          height: rem(6);
          position: absolute;
          right: 0;
          top: rem(4);
          width: rem(6);
          @include transform(rotate(-45deg));
          @include transition(all $transition-long);
        }
      }
    }

    &-show {
      @include desktop-down {
        #{$root}_dropdown {
          max-height: rem(240);
          opacity: 1;
          visibility: visible;
        }

        #{$root}_mainMenu_wrapLink {
          &::after {
            @include transform(rotate(135deg));
          }
        }
      }
    }
  }

  &_dropdown {
    @include desktop-up {
      background-color: $white;
      box-shadow: inset 0 1px 4px $black-12;
      left: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: rem(31);
      visibility: hidden;
      z-index: 3;
      @include transition(all $transition-long ease-in-out);
    }

    @include desktop-down {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      @include transition(all $transition-long ease-in-out);

      .o-container {
        max-width: 100%;
      }
    }

    &_wrapper {
      @include desktop-up {
        padding: rem(16) rem(20);
      }
    }

    &_content {
      @include list-style-none;
    }

    &_item {
      font-weight: 400;
      width: max-content;
      @include font-base(16, 24);

      @include desktop-up {
        &:not(:first-child) {
          margin-top: rem(16);
        }

        @include transition(all $transition-long);

        &::after {
          @include underline-link();
        }
      }

      @include desktop-down {
        padding-left: rem(16);
        padding-top: rem(16);
      }

      @include mobile-down {
        @include font-base(14, 22);
      }
    }
  }
}

.menu-item {
  $root: &;
  cursor: pointer;
  position: relative;
  font-family: $font-montserrat;
  @include font-base(14, 22);
  margin-left: rem(24);

  &:first-child {
    margin-left: 0;
  }

  &-active {
    #{$root}_link {
      &::before {
        width: 100%;
      }
      @include desktop-down {
        color: $sapphire;
      }
    }
    #{$root}-isChild {
      #{$root}_link {
        @include desktop-down {
          color: $sonic-silver;
        }
      }
    }
  }

  .a-link {
    opacity: 1;
  }

  @include desktop-down {
    margin: rem(24) 0 0;
  }

  &-isChild {
    margin: 0;
    @include font-base(14, 22);

    @include desktop-down {
      margin-top: rem(16);
    }

    #{$root}_link {
      &::before {
        display: none;
      }
    }
  }

  &_title {
    color: inherit;
  }

  &_link {
    color: $sonic-silver;
    display: block;
    position: relative;
    text-transform: capitalize;
    transition: $transition ease-in-out;
    @include font-base(14, 22);

    &.active,
    &:hover {
      &::before {
        width: 100%;
      }
    }

    &::before {
      background-color: $sapphire;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: calc(100% + 7px);
      transition: $transition linear;
      width: 0;
      z-index: 1;
      @include desktop-down {
        display: none;
      }
    }

    #{$root}-hasChild:not(#{$root}-isChild) > &::before {
      @include desktop-down {
        border-left: rem(5) solid transparent;
        border-right: rem(5) solid transparent;
        border-top: rem(5) solid $davys-grey;
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition-long linear;
      }
    }

    #{$root}-isChild:is(#{$root}-hasChild) > &::before {
      @include desktop-down {
        border-left: rem(5) solid transparent;
        border-right: rem(5) solid transparent;
        border-top: rem(5) solid $davys-grey;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition-long linear;
        width: 0;
      }
    }

    #{$root}_list-deep &::before {
      display: none;
    }

    #{$root}-expand > &::before {
      @include desktop-down {
        transform: translateY(-50%) rotate(180deg) !important;
      }
    }

    #{$root}-active > &::before {
      @include desktop-down {
        border-top-color: $sapphire !important;
      }
    }


    #{$root}-isChild > & {
      &.active {
        color: $davys-grey;
      }

      @include desktop-up {
        border-radius: rem(4);
        padding: rem(8) rem(8) rem(8) rem(16);
      }
    }

    #{$root}-isChild:is(#{$root}-active) > &,
    #{$root}-isChild:hover > & {
      @include desktop-up {
        background-color: $sapphire;
        color: $white;
        opacity: 1;
      }
    }

    &_arrow {
      position: relative;
      @include desktop-up {
        &::after {
          display: none;
        }
      }

      &::after {
        background-image: url('~assets/icons/ic_arrow_up-gray.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: rem(12);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all $transition linear;
        width: rem(12);
      }

      #{$root}-expand > &::after {
        transform: rotate(180deg);
      }
    }
  }

  &_wrap {
    max-height: 0;
    min-width: rem(215);
    overflow: hidden;
    transition: $transition ease-in-out;
    visibility: hidden;
    z-index: 1;

    @include desktop-down {
      transition: $transition ease-in-out;
    }

    @include desktop-up {
      left: 0;
      padding-top: rem(16);
      position: absolute;
      top: 100%;
    }

    #{$root}-expand > & {
      @include desktop-down {
        max-height: rem(1000);
        overflow: initial;
        visibility: visible;
      }
    }

    #{$root}:hover > & {
      @include desktop-up {
        max-height: rem(1000);
        overflow: initial;
        visibility: visible;
      }
    }

    #{$root}_list & {
      padding-top: 0;

      @include desktop-up {
        left: 100%;
        padding-left: rem(6);
        top: 0;
      }
    }
  }

  &_list {
    list-style: none;

    @include desktop-down {
      margin-left: rem(30);
    }

    @include desktop-up {
      background: $snow;
      border-radius: rem(12);
      box-shadow: 0 rem(30) rem(84) $black0043, 0 rem(8) rem(32) $black0043, 0 rem(3) rem(14) $black0043,
        0 1px rem(13) $black0043;
      padding: rem(8) 0;
    }

    &-deep {
      @include desktop-up {
        box-shadow: 0 3px 6px -4px $black012, 0 6px 16px $black008, 0 9px 28px 8px $black005;
      }
      @include desktop-down {
        margin-left: rem(20);
      }
    }
  }
}
